@model EnterpriseManagementApp.Models.Rentals.Renter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Renter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RenterID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContact" class="control-label"></label>
                <input asp-for="EmergencyContact" class="form-control" />
                <span asp-validation-for="EmergencyContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccupancyStartDate" class="control-label"></label>
                <input asp-for="OccupancyStartDate" class="form-control" />
                <span asp-validation-for="OccupancyStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccupancyEndDate" class="control-label"></label>
                <input asp-for="OccupancyEndDate" class="form-control" />
                <span asp-validation-for="OccupancyEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
